include CHANGELOG.md
include CHANGES.md
include CONTRIBUTORS.md
include LICENSE.txt
include README.md
include dev-requirements.txt
include tests-requirements.txt
include src/tests/*.py
include src/mss/py.typed
recursive-include docs/source *
recursive-include src/tests/res *
