[[source]]
url = "https://pypi.org/simple/"
verify_ssl = true
name = "pypi"

[requires]
python_version = ">=3.5"

[dev-packages]
pre-commit = "*"
tox = "*"
pytest = "*"
flake8 = "*"
pylint = "*"
mypy = "*"
sphinx = "*"
