name: Tests

on:
  push:
    branchs:
      - master
  pull_request:
    paths:
      - ".github/workflows/tests.yml"
      - "setup.cfg"
      - "mss/**"

jobs:
  lint:
    name: Code quality checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.branch }}
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: Install test dependencies
        run: python -m pip install -U pip wheel tox
      - name: Tests
        run: python -m tox -e lint

  types:
    name: Types checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.branch }}
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: Install test dependencies
        run: python -m pip install -U pip wheel tox
      - name: Tests
        run: python -m tox -e types

  documentation:
    name: Documentation build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.branch }}
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: Install test dependencies
        run: python -m pip install -U pip wheel tox
      - name: Tests
        run: python -m tox -e docs

  tests:
    name: "${{ matrix.os }} for ${{ matrix.python }}"
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python: ["3.6", " 3.7", " 3.8", "3.9", "3.10", "3.11"]
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.branch }}
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - name: Install test dependencies
        run: python -m pip install -U pip wheel tox
      - name: Tests
        if: matrix.os == 'ubuntu-latest'
        run: |
          export DISPLAY=:99
          sudo Xvfb -ac :99 -screen 0 1280x1024x24 > /dev/null 2>&1 &
          python -m tox -e py
      - name: Tests
        if: matrix.os != 'ubuntu-latest'
        run: python -m tox -e py
